In [195]:
import pandas as pd
import numpy as np
from scipy import stats

# Import data

In [421]:
path="https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/"
CLIENT=pd.read_csv(path + "CLIENT_191102.tsv", sep="\t")
DISABILITY_ENTRY=pd.read_csv(path + "DISABILITY_ENTRY_191102.tsv", sep="\t")
INCOME_ENTRY=pd.read_csv(path + "INCOME_ENTRY_191102.tsv", sep="\t")

# Wrangling

## Client data

In [436]:
NEW_CLIENT=CLIENT[["Client ID","Client Age at Entry","Client Gender","Client Primary Race","Client Ethnicity"]].dropna()
NEW_CLIENT.columns=["ID","Age","Gender","Race","Ethnicity"]

In [437]:
NEW_CLIENT=NEW_CLIENT[NEW_CLIENT.Race.isin(["American Indian or Alaska Native (HUD)",
                                            "Asian (HUD)",
                                            "Black or African American (HUD)",
                                            "Native Hawaiian or Other Pacific Islander (HUD)",
                                            "White (HUD)"])]

In [438]:
NEW_CLIENT=NEW_CLIENT[NEW_CLIENT.Ethnicity.isin(["Hispanic/Latino (HUD)","Non-Hispanic/Non-Latino (HUD)"])]

In [439]:
NEW_CLIENT=pd.DataFrame(NEW_CLIENT.groupby(["ID","Gender","Race","Ethnicity"]).mean()).reset_index()

In [440]:
NEW_CLIENT.head()

,ID,Gender,Race,Ethnicity,Age
0,1096,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),60.666667
1,1097,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),58.000000
2,1555,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),31.000000
3,1616,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),43.000000
4,2024,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),46.000000

In [441]:
NEW_CLIENT.shape

(2334, 5)

## Income data

In [442]:
NEW_INCOME_ENTRY=INCOME_ENTRY[["Client ID","Monthly Amount (Entry)"]].dropna()
NEW_INCOME_ENTRY.columns=["ID","Income"]
NEW_INCOME_ENTRY=NEW_INCOME_ENTRY[NEW_INCOME_ENTRY.Income>0]

In [443]:
NEW_INCOME_ENTRY=pd.DataFrame(NEW_INCOME_ENTRY.groupby(["ID"]).mean()).reset_index()

In [444]:
NEW_INCOME_ENTRY.head()

     ID       Income
0  1096  1015.000000
1  1097   748.000000
2  2054   524.666667
3  2142   998.000000
4  2416  1200.000000

In [445]:
NEW_INCOME_ENTRY.shape

(1172, 2)

## Disability data

In [446]:
NEW_DISABILITY_ENTRY=DISABILITY_ENTRY[["Client ID","Disability Determination (Entry)"]].dropna()
NEW_DISABILITY_ENTRY.columns=["ID","Disability"]

In [447]:
NEW_DISABILITY_ENTRY=NEW_DISABILITY_ENTRY.groupby("ID").agg(lambda x: stats.mode(x)[0][0]).reset_index()
NEW_DISABILITY_ENTRY=NEW_DISABILITY_ENTRY[NEW_DISABILITY_ENTRY.Disability.isin(["No (HUD)","Yes (HUD)"])]

In [448]:
NEW_DISABILITY_ENTRY.head()

     ID Disability
0  1096   No (HUD)
1  1097   No (HUD)
2  1555   No (HUD)
3  1616   No (HUD)
4  2024   No (HUD)

In [449]:
NEW_DISABILITY_ENTRY.shape

(2240, 2)

# Merge data

In [450]:
Income=pd.merge(NEW_CLIENT, NEW_INCOME_ENTRY)
Disability=pd.merge(NEW_CLIENT, NEW_DISABILITY_ENTRY)

In [451]:
Income.head()

,ID,Gender,Race,Ethnicity,Age,Income
0,1096,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),60.666667,1015.000000
1,1097,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),58.000000,748.000000
2,2054,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),63.318182,524.666667
3,2142,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),62.333333,998.000000
4,2416,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),48.333333,1200.000000

In [452]:
Disability.head()

,ID,Gender,Race,Ethnicity,Age,Disability
0,1096,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),60.666667,No (HUD)
1,1097,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),58.000000,No (HUD)
2,1555,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),31.000000,No (HUD)
3,1616,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),43.000000,No (HUD)
4,2024,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),46.000000,No (HUD)

In [453]:
Income.shape

(1162, 6)

In [454]:
Disability.shape

(2216, 6)

# Output data

In [457]:
Income.to_csv("Income.csv", index=False)
Disability.to_csv("Disability.csv", index=False)
NEW_CLIENT.to_csv("Client.csv", index=False)