In [1]:
import pandas as pd

# Import data

In [71]:
path="https://raw.githubusercontent.com/biodatascience/datasci611/gh-pages/data/project2_2019/"
CLIENT=pd.read_csv(path + "CLIENT_191102.tsv", sep="\t")
DISABILITY_ENTRY=pd.read_csv(path + "DISABILITY_ENTRY_191102.tsv", sep="\t")
DISABILITY_EXIT=pd.read_csv(path + "DISABILITY_EXIT_191102.tsv", sep="\t")
PROVIDER=pd.read_csv(path + "PROVIDER_191102.tsv", sep="\t")

# Wrangling

### Client data

In [335]:
NEW_CLIENT=CLIENT[["Client ID","Client Age at Entry","Client Gender","Client Primary Race","Client Ethnicity","Client Veteran Status"]]
NEW_CLIENT=NEW_CLIENT.dropna()
NEW_CLIENT.columns=["ID","Age","Gender","Race","Ethnicity","Veteran"]
NEW_CLIENT=NEW_CLIENT[NEW_CLIENT.Gender.isin(["Male","Female"])]

In [336]:
NEW_CLIENT.head()

,ID,Age,Gender,Race,Ethnicity,Veteran
0,397941,60.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,130335,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,188933,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,168290,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,123122,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [337]:
NEW_CLIENT.shape

(5269, 6)

In [338]:
NEW_CLIENT=pd.DataFrame(NEW_CLIENT.groupby(["ID","Gender","Race","Ethnicity","Veteran"]).mean())
NEW_CLIENT.reset_index(inplace=True)

In [340]:
NEW_CLIENT.head()

,ID,Gender,Race,Ethnicity,Veteran,Age
0,1096,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),Yes (HUD),60.666667
1,1097,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),58.000000
2,1555,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),31.000000
3,1616,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),43.000000
4,2024,Male,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD),46.000000

### Disability data

In [279]:
NEW_DISABILITY_ENTRY=DISABILITY_ENTRY[["Client ID","Disability Type (Entry)","Disability Start Date (Entry)"]]
NEW_DISABILITY_ENTRY=NEW_DISABILITY_ENTRY.dropna()
NEW_DISABILITY_ENTRY.columns=["ID","DisaType","Date"]
NEW_DISABILITY_ENTRY["Month"]=NEW_DISABILITY_ENTRY["Date"].apply(lambda x: int(x.split("/")[0]))
NEW_DISABILITY_ENTRY["Day"]=NEW_DISABILITY_ENTRY["Date"].apply(lambda x: int(x.split("/")[1]))
NEW_DISABILITY_ENTRY["Year"]=NEW_DISABILITY_ENTRY["Date"].apply(lambda x: int(x.split("/")[2]))

In [280]:
NEW_DISABILITY_ENTRY=NEW_DISABILITY_ENTRY[NEW_DISABILITY_ENTRY.DisaType.isin(["Alcohol Abuse (HUD)", 
                                                                             "Both Alcohol and Drug Abuse (HUD)",
                                                                             "Chronic Health Condition (HUD)",
                                                                             "Developmental (HUD)",
                                                                             "Drug Abuse (HUD)",
                                                                             "HIV/AIDS (HUD)",
                                                                             "Mental Health Problem (HUD)",
                                                                             "Physical (HUD)",
                                                                             "Physical/Medical"])]

In [281]:
NEW_DISABILITY_ENTRY=NEW_DISABILITY_ENTRY[NEW_DISABILITY_ENTRY.Year > 2008]

In [282]:
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Alcohol Abuse (HUD)','DisaType'] = 'AA'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Both Alcohol and Drug Abuse (HUD)','DisaType'] = 'BADA'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Chronic Health Condition (HUD)','DisaType'] = 'CHC'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Developmental (HUD)','DisaType'] = 'Dev'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Drug Abuse (HUD)','DisaType'] = 'DA'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'HIV/AIDS (HUD)','DisaType'] = 'HIV'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Mental Health Problem (HUD)','DisaType'] = 'MHP'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Physical (HUD)','DisaType'] = 'Phy'
NEW_DISABILITY_ENTRY.loc[NEW_DISABILITY_ENTRY.DisaType == 'Physical/Medical','DisaType'] = 'Phy/Med'

In [316]:
NEW_DISABILITY_ENTRY.head()

       ID DisaType       Date  Month  Day  Year
0  397941       AA  4/20/2015      4   20  2015
1  397941     BADA  4/20/2015      4   20  2015
2  397941      CHC  4/20/2015      4   20  2015
3  397941      Dev  4/20/2015      4   20  2015
4  397941       DA  4/20/2015      4   20  2015

# Output data

In [342]:
NEW_CLIENT.to_csv("Client.csv", index=False)
NEW_DISABILITY_ENTRY.to_csv("Disability.csv", index=False)

In [343]:
DISABILITY_ENTRY

,EE Provider ID,EE UID,Client Unique ID,Client ID,Disability Determination (Entry),Disability Type (Entry),Disability Start Date (Entry),Disability End Date (Entry),Provider (417-provider),Recordset ID (417-recordset_id),Date Added (417-date_added)
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No (HUD),Alcohol Abuse (HUD),4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261529,7/16/2015
1,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No (HUD),Both Alcohol and Drug Abuse (HUD),4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261530,7/16/2015
2,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No (HUD),Chronic Health Condition (HUD),4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261524,7/16/2015
3,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No (HUD),Developmental (HUD),4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261527,7/16/2015
4,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,No (HUD),Drug Abuse (HUD),4/20/2015,NaN,Urban Ministries of Durham - Durham County(1562),2261528,7/16/2015
...,...,...,...,...,...,...,...,...,...,...,...
41388,XXXClosed2015 Urban Ministries of Durham- Durh...,678129,osrm07241965o632s645,401495,No (HUD),Developmental (HUD),6/3/2015,NaN,Urban Ministries of Durham - Durham County(1562),2268365,7/17/2015
41389,XXXClosed2015 Urban Ministries of Durham- Durh...,678129,osrm07241965o632s645,401495,No (HUD),Drug Abuse (HUD),6/3/2015,NaN,Urban Ministries of Durham - Durham County(1562),2268367,7/17/2015
41390,XXXClosed2015 Urban Ministries of Durham- Durh...,678129,osrm07241965o632s645,401495,No (HUD),HIV/AIDS (HUD),6/3/2015,NaN,Urban Ministries of Durham - Durham County(1562),2268364,7/17/2015
41391,XXXClosed2015 Urban Ministries of Durham- Durh...,678129,osrm07241965o632s645,401495,No (HUD),Mental Health Problem (HUD),6/3/2015,NaN,Urban Ministries of Durham - Durham County(1562),2268368,7/17/2015
41392,XXXClosed2015 Urban Ministries of Durham- Durh...,678129,osrm07241965o632s645,401495,No (HUD),Physical (HUD),6/3/2015,NaN,Urban Ministries of Durham - Durham County(1562),2268362,7/17/2015

# Logistic regression